<md-card flex>
    <md-card-content>
        <h2>Contact form</h2>
        <div widget-alert message="{{vm.message}}" type="{{vm.type}}"></div>
        <form name="contactForm" data-ng-submit="vm.sendMessage()">
            <md-input-container>
                <label>Nick:</label>
                <input ng-model="vm.message.username" required>
            </md-input-container>
            <md-input-container>
                <label>Email:</label>
                <input type="email" ng-model="vm.message.email" required>
            </md-input-container>
            <md-input-container>
                <label>Message:</label>
                <textarea ng-model="vm.message.message" columns="1" md-maxlength="150" required></textarea>
            </md-input-container>
            <div layout="row" layout-align="end center">
                <md-button type="submit" class="md-primary" ng-class="{'md-raised': (contactForm.$dirty && contactForm.$valid) }">Send</md-button>
            </div>
        </form>
    </md-card-content>
</md-card>
