<md-card flex>
    <md-card-content>
        <h2>Profile Information</h2>
        <div widget-alert message="{{vm.profileForm.message}}" type="{{vm.profileForm.type}}"></div>
        <form name="profileForm" data-ng-submit="vm.updateProfile()">
            <md-input-container>
                <label>Email:</label>
                <input type="email" ng-model="vm.user.email" disabled>
            </md-input-container>
            <md-input-container>
                <label>Name:</label>
                <input ng-model="vm.user.username" disabled>
            </md-input-container>
            <md-input-container>
                <p>Sex:</p>
                <md-radio-group ng-model="vm.user.gender">
                    <md-radio-button value="m" class="md-primary"> Male </md-radio-button>
                    <md-radio-button value="f">Female</md-radio-button>
                </md-radio-group>
            </md-input-container>
            <md-input-container>
                <label>Location:</label>
                <input ng-model="vm.user.location" required>
            </md-input-container>
            <div layout="row" layout-align="end center">
                <md-button type="submit" class="md-primary" ng-class="{'md-raised md-hue-1': (profileForm.$dirty && profileForm.$valid) }">Update Profile</md-button>
            </div>
        </form>
    </md-card-content>
</md-card>
<md-card flex>
    <md-card-content>
        <h2>Change Password</h2>
        <div widget-alert message="{{vm.passForm.message}}" type="{{vm.passForm.type}}"></div>
        <form name="passwordForm" data-ng-submit="vm.changePassword()">
            <md-input-container>
                <label>Actual Password:</label>
                <input type="password" ng-model="vm.userPass.password" required>
            </md-input-container>
            <md-input-container>
                <label>New Password:</label>
                <input type="password" ng-model="vm.userPass.new_password" required>
            </md-input-container>
            <div layout="row" layout-align="end center">
                <md-button type="submit" class="md-primary" ng-class="{'md-raised md-hue-1': (passwordForm.$dirty && passwordForm.$valid) }">Change Password</md-button>
            </div>
        </form>
    </md-card-content>
</md-card>
