<div layout-padding>
    <div flex layout="row" layout-align="center">
        <div flex-sm="90" flex-gt-sm="80" flex-gt-md="60" flex-gt-lg="40" class="md-whiteframe-z2">
            <md-toolbar class="md-info">
                <div class="md-toolbar-tools">
                    <h2 class="md-flex">Login</h2>
                </div>
            </md-toolbar>
            <div widget-alert message="{{vm.message}}" type="{{vm.type}}"></div>
            <md-content class="md-padding">
                <div flex-sm="100" flex-gt-sm="80" layout-sm="column">
                    <form name="loginForm" data-ng-submit="vm.logIn()">
                        <md-input-container>
                            <label>Nick:</label>
                            <input ng-model="vm.user.username" required>
                        </md-input-container>
                        <md-input-container>
                            <label>Password:</label>
                            <input type="password" ng-model="vm.user.password" required>
                        </md-input-container>
                        <div layout="row" layout-align="center center">
                            <md-button type="submit" class="md-primary md-raised full-width" ng-disabled="loginForm.$invalid">Login</md-button>
                        </div>
                        <div layout="row" layout-align="center center">
                            <a class="md-primary md-button full-width" href="/register">Don't have an account? Create one now</a>
                        </div>
                    </form>
                </div>
            </md-content>
        </div>
    </div>
</div>
