<md-toolbar layout="row">
    <md-button ng-click="vm.toggleSidenav('left')" hide-gt-sm>
        <ng-md-icon icon="menu"></ng-md-icon>
    </md-button>
    <h1 class="md-toolbar-tools" layout-align-gt-sm="left">Starter Project</h1>
    <md-toolbar layout="row" layout-align="end center">
        <a class="md-button" href="/home">Home</a>
        <a class="md-button" href="/contact">Contact</a>
    </md-toolbar>
    <md-menu>
        <md-button aria-label="Open Settings" ng-click="$mdOpenMenu()">
            <ng-md-icon icon="more_vert"></ng-md-icon>
        </md-button>
        <md-menu-content width="3">
            <md-menu-item ng-show="vm.isLoggedIn()">
                <md-button href="/user">
                    My account
                </md-button>
            </md-menu-item>
            <md-menu-item ng-show="vm.isLoggedIn()">
                <md-button ng-click="vm.logOut()">
                    Log Out
                </md-button>
            </md-menu-item>
            <md-menu-item ng-hide="vm.isLoggedIn()">
                <md-button href="/login">
                    Log In
                </md-button>
            </md-menu-item>
            <md-menu-item ng-hide="vm.isLoggedIn()">
                <md-button href="/register">
                    Register
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</md-toolbar>
<section layout="row" flex>
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
        <md-list>
            <div ui-sref="contact">
                <md-list-item md-ink-ripple>
                    Contact
                </md-list-item>
            </div>
            <md-divider></md-divider>
            <md-subheader class="md-no-sticky">Separator</md-subheader>
        </md-list>
    </md-sidenav>
    <md-content layout="column" flex class="md-padding" ui-view>
    </md-content>
</section>
